<!DOCTYPE html>
<html lang="en">
<head>
<title>页面不存在</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Astounding Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/style_error.css" rel='stylesheet' type='text/css'/><!-- style.css -->
</head>
<body>
<div id="particles-js"></div>
	<div class="main-w3layouts">
	<h1> 您的访问页面找不到了！</h1>
		<div class="main-agile">
			<h2>错误 404</h2>
			<p>请检查您访问的网址是否正确 如果您不能确认访问的网址，请浏览猜你喜欢电影网其它页面查看更多网址。</p>
		<div class="botton-w3ls"><a href="/movie/index">返回电影网首页</a></div>
		</div>
		<div class="footer-w3l">
			<p class="agileinfo"> Copyright &copy; 2020 Welcome to movie web - 欢迎来到<a href="/movie/index">猜你喜欢电影网</a></p>
		</div>
	</div>
	<script src="/static/js/particles.js"></script>
	<script src="/static/js/app.js"></script>
</body>
</html>